{% extends 'views/admin.html' %}

{% block content %}

{% for mesg in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mesg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createPelicula">
    Crear nueva pelicula
</button>

<table class="mt-5 table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th width="200">Actores</th>
            <th>Director</th>
            <th>Imagen</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
        <tr>
            <td scope="row">{{ film.ID }}</td>
            <td>{{ film.name }}</td>
            <td>{{ film.actors }}</td>
            <td>{{ film.director }}</td>
            <td>{{ film.image }}</td>
            <td>

                <a class="btn btn-primary" href="/admin/usuario/{{film.ID}}" role="button">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#editfilm-{{film.ID}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <form class="d-inline" action="/admin/usuario/eliminar/{{film.ID}}" method="post">
                    <button type="submit" class="btn btn-danger" onclick="
                            event.preventDefault();
                            confirm('Seguro que desea eliminar el usuario {{ film.name }}');
                            event.target.form.submit();
                    ">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </form>

            </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="editfilm-{{film.ID}}" tabindex="-1" aria-labelledby="editfilm-{{film.ID}}Label"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar el usuario "{{ film.name }}"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form-{{film.ID}}" action="/admin/usuario/editar/{{ film.ID }}" method="post">
                            <div class="mb-3">
                                <label for="" class="form-label">Nombre</label>
                                <input type="text" name="nombre" class="form-control" placeholder=""
                                    aria-describedby="helpId" value="{{ film.name }}">
                                <small id="helpId" class="text-muted">Agrege el nuevo nombre</small>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Correo</label>
                                <input type="email" class="form-control" value="{{ film.email }}" readonly
                                    aria-describedby="helpId" value="">
                                <small id="helpId" class="text-muted">El correo no se puede editar</small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Contraseña</label>
                                <input type="password" name="clave" class="form-control" placeholder=""
                                    aria-describedby="helpId">
                                <small id="helpId" class="text-muted">Cambiar de contraseña</small>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Nuevo rol</label>
                                <select class="form-control" name="rol">
                                    <option>{{ film.role }}</option>
                                    <option value="admin">Super Administrador</option>
                                    <option value="film">Administrador</option>
                                    <option value="customer">Cliente</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" onclick="
                                event.preventDefault();
                                document.getElementById('edit-form-{{film.ID}}').submit();
                            ">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>



        {% endfor %}
    </tbody>
</table>


<!-- Modal para crear-->
<div class="modal fade" id="createPelicula" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Add rows here
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}