{% extends 'views/admin.html' %}

{% block content %}

{% for mesg in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mesg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<div class="mt-2 mb-4 bg-light border border-secondary rounded-3">
    <div class="container-fluid py-5">
        <img class="card-img-top" src="https://joeschmoe.io/api/v1/male/{{ user[1] }}" alt="Avatar" width="150"
            height="150">
        <div class="card-body">
            <h4 class="card-title">{{ user[1] + ' ' + user[2]}}</h4>
            <p class="card-text">ID: <strong>{{ user[0] }}</strong></p>
            <p class="card-text">Correo: <strong>{{ user[3] }}</strong></p>
            <p class="card-text">Nacimiento: <strong>{{ user[5] }}</strong></p>
            <p class="card-text">Departamento: <strong>{{ user[6] }}</strong></p>
            <p class="card-text">Ciudad: <strong>{{ user[7] }}</strong></p>
            <p class="card-text">Direccion: <strong>{{ user[8] }}</strong></p>
            <p class="card-text">Telefono: <strong>{{ user[9] }}</strong></p>
            <p class="card-text">Estado: <strong>{{ 'Activo' if user[10] else 'Inactivo' }}</strong></p>
            <p class="card-text">Creado el: <strong>{{ user[11] }}</strong></p>
            <p class="card-text">Rol <strong>{{ roles[user[12]-1][1] }}</strong></p>
        </div>
    </div>
</div>

<button class="btn btn-primary my-5" type="button" onclick="window.history.back(); ">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
    Regresar
</button>

{% endblock %}