{% extends 'views/base.html'%}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cartelera.css')}}" media="screen">
{% endblock %}


{% block estrenos %}

<section class="my-4">
  <div class="container container--full-width u-pt--mobile u-pb-7-mobile u-pt-0-desktop">
    <div class="columns is-hidden-touch">
      <div class="column">
        <h2 class="title is-10 is-uppercase">Próximos Extrenos</h2>
      </div>
    </div>

    <div class="columns is-multiline columns--slim">

      {% for show in shows %}

      <div data-aos="fade-up" data-aos-delay="200" class="column is-3 aos-init aos-animate">
        <a href="/buscar-pelicula/{{show[0]}}/" class="movie-item">
          <div class="movie-item__image-wrapper">
            <span class="movie-item__badge movie-item__badge--yellow-2">Próximo</span>
            <figure class="movie-item__image">
              <img src="{{ url_for('static', filename=show[15].replace('static/',''))}}">
            </figure>
          </div>

          <div class="movie-item__basics">
            <h2 class="movie-item__title"> {{ show[10] }} </h2>
            <!-- <span class="movie-item__meta movie-item__meta--bold"> Título en inglés: Eternals </span> -->
            <span class="movie-item__meta"> Estreno: {{ show[3] + ' ' + show[2] }} </span>
            <span class="movie-item__meta"> Género: {{ categories[show[13]][1] }} </span>
            <div class="movie-item__tags tags">
              {% if show[8] %}
              <span class="tag">
                <div class="ezselection-field"> Recomendada para Mayores de {{ show[8] }} años </div>
              </span>
              {% endif %}
              <span class="tag"> {{ show[7] }} Minutos </span>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>
  </div>
</section>

{% endblock %}