{% extends 'views/base.html' %}

<!-- scripts y estilos -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css')}}" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css')}}" media="screen">

{% endblock %}


<!-- formulario de registro -->
{% block registro %}

{% for mesg in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ mesg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<section class="u-align-center u-clearfix u-custom-color-3 u-section-1" id="sec-d901">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div
            class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-custom-color-1 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-30 u-shape-round u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
                    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Logo" width="150">
                </div>
                <h3 class="u-text u-text-default u-text-1">Registro <br>
                </h3>
                <div class="u-form u-form-1">
                    <form action="/registro/" method="POST"
                        class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 0px;">
                        {{ form.csrf_token }}
                        <div class="u-form-group u-form-name u-form-group-1">
                            {{ form.nombre.label }}
                            {{ form.nombre(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-1",
                            placeholder="Nombres Completos"
                            ) }}
                            {% if form.nombre.errors %}
                            <ul class="nav">
                                {% for error in form.nombre.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-group-2">
                            {{ form.apellido.label }}
                            {{ form.apellido(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-2",
                            placeholder="Apellidos"
                            ) }}
                            {% if form.apellido.errors %}
                            <ul class="nav">
                                {% for error in form.nombre.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-email u-form-group u-form-group-3">
                            {{ form.correo.label }}
                            {{ form.correo(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right
                            u-border-no-top u-custom-color-3 u-input u-input-rectangle u-input-3",
                            placeholder="correo@correo.com"
                            ) }}
                            {% if form.correo.errors %}
                            <ul class="nav">
                                {% for error in form.nombre.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-group-4">
                            {{ form.confirmar_correo.label }}
                            {{ form.confirmar_correo(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-4",
                            placeholder="Confirmar correo electrónico"
                            )}}
                            {% if form.confirmar_correo.errors %}
                            <ul class="nav">
                                {% for error in form.confirmar_correo.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-name">
                            {{ form.clave.label }}
                            {{ form.clave(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-5",
                            placeholder="Contraseña"
                            )}}
                            {% if form.clave.errors %}
                            <ul class="nav">
                                {% for error in form.clave.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-group-6">
                            {{ form.confirmar_clave.label }}
                            {{ form.confirmar_clave(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-6",
                            placeholder="Confirmar contraseña"
                            )}}
                            {% if form.confirmar_clave.errors %}
                            <ul class="nav">
                                {% for error in form.confirmar_clave.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-date u-form-group u-form-group-7">
                            {{ form.nacimiento.label }}
                            {{ form.nacimiento(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-7",
                            placeholder="MM/DD/YYYY"
                            )}}
                            {% if form.nacimiento.errors %}
                            <ul class="nav">
                                {% for error in form.nacimiento.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-address u-form-group u-form-group-8">
                            {{ form.departamento.label }}
                            {{ form.departamento(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-8",
                            placeholder="Departamento"
                            )}}
                            {% if form.departamento.errors %}
                            <ul class="nav">
                                {% for error in form.departamento.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-group-9">
                            {{ form.ciudad.label }}
                            {{ form.ciudad(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-9",
                            placeholder="Ciudad de residencia"
                            )}}
                            {% if form.ciudad.errors %}
                            <ul class="nav">
                                {% for error in form.ciudad.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-group-10">
                            {{ form.direccion.label }}
                            {{ form.direccion(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-10",
                            placeholder="Dirección"
                            )}}
                            {% if form.direccion.errors %}
                            <ul class="nav">
                                {% for error in form.direccion.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-group u-form-phone u-form-group-11">
                            {{ form.telefono.label }}
                            {{ form.telefono(
                            class_="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top
                            u-custom-color-3 u-input u-input-rectangle u-input-11",
                            placeholder="Telefono / Celular"
                            )}}
                            {% if form.telefono.errors %}
                            <ul class="nav">
                                {% for error in form.telefono.errors %}
                                <li class="nav-item text-danger">{{ error }} *</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="u-form-agree u-form-group u-form-group-12">
                            <input type="checkbox" id="agree-a3c2" name="agree" class="u-agree-checkbox" required="">
                            <label for="agree-a3c2" class="u-label u-label-12">Acepto los <a href="#">términos y
                                    condiciones </a> de
                                uso.
                            </label>
                        </div>
                        <div
                            class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-form-group u-form-submit">
                            {{ form.boton(
                            class_="u-border-none u-btn u-btn-submit u-button-style u-palette-1-base u-btn-1"
                            )}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}