{% extends 'views/base.html' %}

{% block nav_h %}
<div class="topnav" id="myTopnav">
    <a href="/"><img src="/static/img/logo.png" alt="Logo Unicentro" width="60px"></a>
    <a href="/">Inicio</a>
    <a href="estrenos">Próximos Estrenos</a>
    <a href="cartelera">Cartelera</a>
    <a href="buscar_pelicula" class="w3-bar-item w3-right"><i class="fa fa-search"></i></a>
    <a href="login" class="w3-right" id="r1">Iniciar Sesión</a>
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>
{% endblock %}

{% block registro %}
<h1>Formulario aquí</h1>
{% endblock %}